:root {
  --purple: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --gray-purple: hsl(303, 10%, 53%);
  --bg-pink: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

main .top-section .product-breif {
  width: 40%;
}

main .top-section .product-breif h1 {
  font-size: 46px;
  font-weight: 700;
  color: var(--purple);
  line-height: 1;
}

main .top-section .product-breif p {
  color: var(--gray-purple);
  margin-top: 1rem;
  line-height: 1.5;
}

main .top-section .product-rating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .top-section .product-rating .rating-wrapper {
  height: 55px;
  width: 445px;
  background-color: var(--bg-pink);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top-section .product-rating .rating-wrapper div {
  margin: 0 30px;
}

main .top-section .product-rating .rating-wrapper p {
  font-weight: 700;
  color: var(--purple);
}

main .top-section .product-rating .rating-wrapper:nth-child(1) {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

main .top-section .product-rating .rating-wrapper:nth-child(2) {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

main .bottom-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bottom-section .review-wrapper {
  width: 350px;
  background-color: var(--purple);
  padding: 2rem;
  border-radius: 0.5rem;
}

main .bottom-section .review-wrapper .upper-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

main .bottom-section .review-wrapper .upper-div img {
  width: 40px;
  border-radius: 100%;
  margin-right: 25px;
}

main .bottom-section .review-wrapper .upper-div .header-wrapper p {
  font-weight: 500;
  color: var(--white);
}

main .bottom-section .review-wrapper .upper-div .header-wrapper span {
  font-weight: 400;
  font-size: 12px;
  color: var(--soft-pink);
  letter-spacing: 0.5px;
}

main .bottom-section .review-wrapper .review-text {
  color: var(--bg-pink);
  font-size: 13px;
  line-height: 1.5;
}

main .bottom-section .review-wrapper:nth-child(2) {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

main .bottom-section .review-wrapper:nth-child(3) {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

@media only screen and (max-width: 1125px) {
  body {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 100vh;
  }
  main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 7vh;
  }
  main .top-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 465px;
  }
  main .top-section .product-breif {
    text-align: center;
    min-width: 375px;
  }
  main .top-section .product-breif h1 {
    font-size: 38px;
  }
  main .top-section .product-breif p {
    font-size: 14px;
    margin: 2rem 0 1rem 0;
  }
  main .top-section .product-rating {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40%;
    min-width: 375px;
    height: 0;
  }
  main .top-section .product-rating .rating-wrapper {
    width: 100%;
    height: 28%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .top-section .product-rating .rating-wrapper div {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .top-section .product-rating .rating-wrapper:nth-child(1) {
    -webkit-transform: none;
            transform: none;
  }
  main .top-section .product-rating .rating-wrapper:nth-child(2) {
    -webkit-transform: none;
            transform: none;
  }
  main .bottom-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 65vh;
  }
  main .bottom-section .review-wrapper {
    min-width: 375px;
  }
  main .bottom-section .review-wrapper:nth-child(2) {
    -webkit-transform: none;
            transform: none;
  }
  main .bottom-section .review-wrapper:nth-child(3) {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=style.css.map */